#spinner{
    display: none;
}
#result,#see-more{
    display: none;
}
.search{
    height: 50px;
}

.img:hover{
    transform: scale(1.1);
    transition-duration: .5s;
    
}
#cart:hover{
    transform: scale(1.1);
    transition-duration: .1s;
    
    
}
#see-more:hover{
    transform: scale(1.5);
    transition-duration: .1s;
    
}